/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 27px;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

img {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 2px solid #ccc;
}

video {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

h2 {
  color: #555;
  margin-top: 20px;
}

p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin: 10px 0;
}

ol,
ul {
  text-align: left;
  margin-left: 40px;
}

ol li,
ul li {
  margin-bottom: 10px;
}

ol li ol,
ul li ul {
  margin-left: 20px;
  list-style-type: circle;
}
